<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>


<p>Username:<span th:text="${user.username}"></span></p>
<p>City: <span th:text="${user.cityOfOrigin.city}"></span></p>

<h3>Weather:</h3>


<div th:each="weather : ${weatherAt14}">
    <p th:text="${weather['time']} + ', Temperature: ' + ${weather['temperature']} + '°C'"></p>
</div>


<div class="py-2">
    <a th:href="@{/perform_logout}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700">Sign out</a>
</div>







</body>


</html>